@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{

    /*Primary*/
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);

    /*Accent*/
    --blue: hsl(248, 32%, 49%);

    /*Neutral*/
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);

    font-family: 'Poppins', sans-serif;
    font-size: 16px;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: var(--red);
    background-image: url('../images/bg-intro-mobile.png');
    background-repeat: repeat;
    padding: 2rem;

    main{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container{
        display: flex;
        max-width: 1280px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        gap: 4rem;

        .left-col{
            color: white;
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        .right-col{

            display: flex;
            flex-direction: column;
            gap: 2rem;

            .card-try{
                background: var(--blue);
                color: white;
                text-align: center;
                padding: 1.5rem 3rem;
                border-radius: 10px;
                font-weight: 700;
                box-shadow: 0 8px hsla(249, 10%, 26%, .25);

                span{
                    font-weight: 400;
                }
            }

            .card{
                display: flex;
                flex-direction: column;
                padding: 1rem;
                background:white;
                border-radius: 10px;
                gap: 1rem;
                box-shadow: 0 8px hsla(249, 10%, 26%, .25);

                input{
                    padding: 1rem;
                    color: var(--dark-blue);
                    font-family: 'Poppins', sans-serif;
                    font-weight: 500;
                    outline: solid 0.1rem var(--grayish-blue);
                    border: none;
                    border-radius: 5px; 
                    width: 100%;

                    &::placeholder{
                        font-weight: 700;
                    }
                }

                .active-input{
                    input{
                        outline: solid 0.2rem var(--red);
                        background-image: url('../images/icon-error.svg');
                        background-repeat: no-repeat;
                        background-position: 92.5% 50%;
                        margin-bottom: .2rem;
                    }

                    .active-error{
                        display: block;
                        font-size: .6rem;
                        color: var(--red);
                        text-align: right;
                        font-style: italic;
                    }
                }

                .error{
                    display: none;
                }

               

                .cta-free-trial{
                    padding: 1rem;
                    background: var(--green);
                    font-family: 'Poppins', sans-serif;
                    text-transform: uppercase;
                    letter-spacing: .05rem;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    box-shadow: 0 4px hsl(154, 57%, 42%);

                    &:hover{
                        background: hsl(154, 59%, 63%);
                        cursor: pointer;
                    }
                }

                .aggreements{
                    text-align: center;
                    font-size: .6rem;
                    color: var(--grayish-blue);
                    padding: 0 2.5rem;

                    a{
                        text-decoration: none;
                        color: var(--red);
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:400px){
    body{
        background-image: url('../images/bg-intro-desktop.png');
        background-repeat: repeat;
    }
}

@media only screen and (min-width:1280px){

    body{
        background-image: url('../images/bg-intro-desktop.png');
        background-repeat: repeat;
        padding: 2rem 10rem;

        .container{
            flex-direction: row;
            gap: 5rem;

            .left-col{
                text-align: left;
                width: 100%;

                h1{
                    font-size: 3rem;
                }
            }

            .right-col{
                width: 100%;

                .card{
                    padding: 2rem;

                    div{
                        input{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    
}